{% extends "base.html" %}
{% block head %}
    <script src='/static/jquery-1.7.2.min.js'></script>
    <script src="/static/example.js"></script>
{% endblock %}
{% block main %}

<form id="submit" class="form-submit" action="/submit" method="POST" enctype="multipart/form-data">

  <h3 class="form-submit-heading">Submit data here</h3>
    {% if message and 'success' not in message%}
  <span class="label label-danger" style="padding: 2px;">{{ message }}</span><br/>
  <h3 class="form-submit-heading"></h3>
  {% endif %}
    {% if message and 'success' in message%}
  <span class="label label-success" style="padding: 2px;">{{ message }}</span><br/>
  <h3 class="form-submit-heading"></h3>
  {% endif %}

  <p>Please provide the resource/profile type of instance you want to submit.</p>
  <p><input style="width:600px" id="inputResource" class="form-control" placeholder="Example: Sequence" name="resource" required autofocus></p>
    <p>Please provide the resource/profile instance by uploading a file or filling in the text box below:</p>
  <p><input type="file" name="file1"/></p>
  <textarea name="content" style="width:600px;height:250px;" id="inputContent" class="form-control" placeholder='Data in json. Please see a sequence example below'></textarea>
  <button class="btn btn-lg btn-primary btn-block" style="width:200px" type="submit">Submit</button>
  <p></p>
  <p>Here is an example of Sequence instance in JSON:</p>
</form>
  <pre>{"resourceType": "Sequence",
     "type": "DNA",
     "text":
        {"status": "generated",
         "div": "Genotype of rs71662879 is A/A"
         },
     "coordinate": [
        {"start": 114951390,
         "end": 114951390,
         "chromosome": {"text": "1"},
         "genomeBuild": {"text": "GRCh37"}
         }],
     "variationID":
        [{"coding":
           [{"code": "rs71662879",
             "system": "http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi"
           }]
        }],
     "observedAllele": "A",
     "referenceAllele": "T"
   }</pre>
{% endblock %}